.listItem:hover {
  background-color: #000;
}
.listItem:hover h3,
.listItem:hover p {
  color: #fff;
}
.listItem:hover img {
  filter: invert(1);
}
.mapImageBox {
  opacity: 0;
  transform: translateY(0) rotate(5deg);
  width: 33rem;
  height: 44rem;
  right: -20rem;
  background-color: #000;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  visibility: hidden;
  top: 0;
  transition: all 0.3s ease-in;
}

.listItem:hover .mapImageBox {
  visibility: visible;
  opacity: 1;
}
.listItem:hover .mapImageBox img {
  filter: none;
}
.listItem:first-child .mapImageBox {
  top: -7rem;
}
.listItem:nth-child(2) .mapImageBox {
  top: -9rem;
  transform: translateY(0) rotate(3deg);
}
.listItem:nth-child(3) .mapImageBox {
  top: -17rem;
  transform: translateY(0) rotate(-3deg);
}
.listItem:nth-child(4) .mapImageBox {
  top: -26rem;
  transform: translateY(0) rotate(3deg);
}
.listItem:nth-child(5) .mapImageBox {
  top: -32rem;
  transform: translateY(0) rotate(-2deg);
}
@media only screen and (max-width: 1024px) {
  .mapImageBox {
    width: 60%;
    height: auto;
    right: 0;
  }
  .listItem:first-child .mapImageBox {
    top: -25rem;
  }
  .listItem:nth-child(2) .mapImageBox {
    top: -24rem;
  }
  .listItem:nth-child(3) .mapImageBox {
    top: -25rem;
  }
  .listItem:nth-child(4) .mapImageBox {
    top: -25rem;
  }
  .listItem:nth-child(5) .mapImageBox {
    top: -25rem;
  }
}
